/* ejemplo1.css   SUCARNET  */
pais {background-color:blue;}
departamento {background-color:red; display:block;}
cabecera, habitantes, altura, area, codigodep {color:black; display:block; display: list-item;
    list-style: upper-alpha inside; margin-left: 20px;}
moneda, idioma, codigopais, poblacion, territorio {color:white; display:inline; display: list-item;
    list-style: disc inside; margin-left: 20px;}