/* ejemplo1.css   SUCARNET  */
pais {background-color:blue;}
departamento {background-color:red; display:block;}
cabecera {color:black; display:inline;}
habitantes {color:black; display:inline;}
altura {color:black; display:inline;}
area {color:black; display:inline;}
moneda {color:white; display:inline;}
idioma {color:white; display:inline;}
codigopais {color:white; display:inline;}