/* ejemplo1.css   SUCARNET  */
pais {background-color:blue;}
departamento {background-color:red; display:block;}
cabecera {color:black; display:inline;}
habitantes {color:black; display:inline;}
altura {color:black; display:inline;}