/* ejemplo1.css   SUCARNET  */
fichero {background-color:blue;}
ficha {background-color:red; display:block;} nombre {color:white; display:inline;} apellido {color:yellow; display:inline;}
direccion {color:black; display:inline;}
telefono {color:black; display:inline;}
email {color:black; display:inline;}
website {color:black; display:inline;}
dui {color:black; display:inline;}
isss {color:black; display:inline;}
afp {color:black; display:inline;}